<html>
    <head>
        <meta charset="utf-8" />
        <title>Audio</title>
        <style>
            .audio {
                text-align: center;
                margin-top: 50px;
                margin-bottom: 50px;
                text-decoration: none;
                color: black;
                font-size: 20px;
                font-weight: bold;
                padding: 20px;
                border-radius: 10px;
                border: 1px solid black;
                background-color: lightgray;
                box-shadow: 5px 5px 5px gray;
                transition: all 0.3s ease;
                margin-left: 20px;
                width:max-content;
                height:max-content;
            }
        </style>
    </head>
    <body>
        <div id="audio" class="audio">
        <audio controls src="/assets/audio.mp3" loop autoplay></audio><br />
        download&nbsp;From&nbsp;
        <a href="~/assets/audio.mp3" download="audio.mp3">Here</a><br />
        </div>
    </body>
</html>