<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Inputs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="lorm " />
        <meta name="author" content="lorn" />
    </head>
    <body>
    <!-- Start video 10 Inputs -->
    <h1>Inputs</h1>
    <input type="text" name="text" value="Hello World" /><br />
    <input type="button" name="button" value="Click Me" /><br />
    <input type="submit" name="submit" value="Send" /><br />
    <input type="image" name="image" src="~/assets/test.jpg" /><br />
    <input type="file" name="file" src="~/assets/CV_Fady_Zaher.pdf" /><br />
    <input type="checkbox" name="checkbox" value="true" checked /><br />
    <input type="radio" name="radio" value="true" checked /><br />
    <input type="hidden" name="hidden" value="true" /><br />
    <input type="password" name="password" value="password" /><br />
    <input type="number" name="number" value="1" /><br />
    <input type="range" name="range" value="1" /><br />
    <input type="color" name="color" value="#000000" /><br />
    <input type="date" name="date" value="2020-01-01" /><br />
    <input type="datetime-local" name="datetime-local" value="2020-01-01T00:00" /><br />
    <input type="month" name="month" value="2020-01" /><br />
    <input type="time" name="time" value="00:00" /><br />
    <input type="week" name="week" value="2020-W01" /><br />
    <input type="search" name="search" value="search" /><br />

    <!-- End video 10 Inputs -->

    </body>
</html>