<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Learn CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Internal CSS -->
    <style>
        .para {
            color: blue;
        }
    </style>
    <!-- External CSS -->
    <link rel="stylesheet" href="/css/ExternalStyle.css" />
</head>
<!--start with video number 5 padding and margin in CSS-->
<body>
    <!-- CSS Foucus on Style of HTML -->
    <!-- CSS Style of HTML  there are three types -->
    <!-- 1. Inline CSS -->
    <!-- 2. External CSS -->
    <!-- 3. Internal CSS -->
    <!--##############################################-->
    <!-- 1. Inline CSS -->
    <h1 style="color:red; text-align:center">First CSS</h1>
    <!-- 2. Internal CSS -->
    <p id="para" class="para"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <!-- 3. External CSS -->
    <p class="external-css">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <!--##############################################-->
    <!--units size-->
    <!--##############################################-->
    <!-- 1. px -->
    <!-- 2. em -->
    <!-- 3. rem -->
    <!-- 4. % -->
    <!-- 5. vw -->
    <!-- 6. vh -->
    <!-- 7. vmin -->
    <!-- 8. vmax -->
    <!--##############################################-->
    <!--the default width is 1280px-->
    <!-- px from with of device if screen small  مش بتصغر معاه-->
    <!-- % percentage from parent with fixed of parent if screen small بتصغر معاه -->
    <!--vw percentage of device-->
    <div width="200px" height="50%">
    </div>
    <!--##############################################-->
    <!--font size-->
    <!--default font size 16px-->
    <!--em relative to parent , rem relative to root-->
    <!--em =1 time * font size of parent 1em,2em--> 
    <!--rem =1 time * font size of root 1rem,2rem root represent html tag font size-->
    <div>
        <p class="font-size">Lorem ipsum dolor sit amet. </p>
    </div>
 
</body>

</html>