<html>
 <head>
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
   .register {
    width:max-content;
    margin: 20px;
    padding: 20px;
    height:max-content;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }
  </style>
 </head>
<body>
    <!--End of HTML Videos-->
     
     <!--method-->
     <!--post for send sensitive data and  not show data-->
     <!--get for send and show data-->
     <!--dialog fro save only and not send-->
     <!--action-->
     <!--action is where send data-->
     <!--novalidate for not show validation-->
     <!--fidset to make shape of from-->
     <fieldset  class="register" >
  <legend>Register Form</legend>
  <form method="post" action="/register.cshtml" novalidate>
    <!--Select for select from option-->
    <label for="salutation">Salutation</label><br/>
    <select id="salutation" name="salutation" selected="Mrs." multiple>
    <optgroup label="Salutation">
       <option value="Mr.">Mr.</option>
       <option value="Mrs.">Mrs.</option>
    </optgroup>
    <optgroup label="Gender">
       <option value="Male">Male</option>
       <option value="Female">Female</option>
    </optgroup>
    </select><br/><br/>
            <select id="salutation" name="salutation" selected="Mrs." >
                <optgroup label="Salutation">
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                </optgroup>
                <optgroup label="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </optgroup>
  </select><br /><br />
    <!--End of Select-->
    <!--########################################-->
    <!--datalist for select and search from option-->
    <input list="datalist">
    <datalist id="datalist">
    <option value="Hassan"></option>
    <option value="Ali"></option>
    </datalist>
    <br/><br/>
    <!--########################################-->
    <!--different between readonly and disabled -->
    <!--readonly will send the value-->
    <!--disabled will not send the value-->
    <!--Text-->
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="firstname" placeholder="Firstname" required value="John" readonly><br/><br/>
    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lastname" placeholder="Lastname"  disabled><br/><br/>
    <label type="text" for="Gender">Gender:&nbsp;&nbsp;</label>
    <!--End of Text-->
    <!--########################################-->
    <!--Radio-->
    <input type="radio" id="gender" name="gender" value="male" required>
    <label for="male">Male</label>&nbsp;&nbsp;
    <input type="radio" id="gender" name="gender" value="female">
    <label for="female">Female</label><br/><br/>
    <!--End of Radio-->
    <!--########################################-->
    <!--Email-->
    <label for=" email">E-Mail:</label>
    <input type="email" id="email" name="email" placeholder="Email" required><br/><br/>
    <!--End of Email-->
    <!--########################################-->
    <!--Password-->
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Password" minlength="8" maxlength="20" required><br/><br/>
    <!--End of Password-->
    <!--########################################-->
    <!--Phone-->
    <label for="phone">Phone:&nbsp;&nbsp;</label>
    <input type="text" id="phone" name="phone" placeholder="Phone" required><br/><br/>
    <!--End of Phone-->
    <!--########################################-->
    <!--Date-->
    <label for="birthdate">Birthdate:&nbsp;&nbsp;</label>
    <input type="date" id="birthdate" name="birthdate"><br/><br/>
    <!--End of Date-->
    <!--########################################-->
    <!--Address-->
    <label for="address" align="left">Address:&nbsp;&nbsp;</label>
    <textarea id="address" name="address" placeholder="Address" rows="10" cols="50" align="left"></textarea><br/><br/>
    <!--End of Address-->
    <!--########################################-->
    <!--File-->
    <label for="file">Upload File:&nbsp;&nbsp;</label>
    <input type="file" id="file" name="file"><br/><br/>
    <!--End of File-->
    <!--########################################-->
    <!--URL-->
    <label for="linkedIn" >LinkedIn:&nbsp;&nbsp;</label>
    <input type="url" id="linkedIn" name="linkedIn" placeholder="LinkedIn"><br/><br/>
    <label for="twitter">Twitter:&nbsp;&nbsp;</label>
    <!--End of URL-->
    <!--########################################-->
    <!--Range-->
    <input type="range" id="range" name="range" min="0" max="10"><br/><br/>
    <!--End of Range-->
    <!--########################################-->
    <!--color-->
    <label for="color">Color:&nbsp;&nbsp;</label>
    <input type="color" id="color" name="color"><br/><br/>
    <!--End of color-->
    <!--########################################-->
    <!--Time-->
    <label for="time">Time:&nbsp;&nbsp;</label>
    <input type="time" id="time" name="time"><br/><br/>
    <!--End of Time-->
    <!--########################################-->
    <!--date,week,month,dateTime,search-->
    <label for="date">Date:&nbsp;&nbsp;</label>
    <input type="date" id="date" name="date"><br/><br/>
    <label for="week">Week:&nbsp;&nbsp;</label>
    <input type="week" id="week" name="week"><br/><br/>
    <label for="month">Month:&nbsp;&nbsp;</label>
    <input type="month" id="month" name="month"><br/><br/>
    <label for="search">Search:&nbsp;&nbsp;</label>
    <input type="search" id="search" name="search"><br /><br />
    <!--End of date,week,month,dateTime,search-->
    <!--########################################-->
    <!--DateTime-->
    <label for="dateTime">DateTime:&nbsp;&nbsp;</label>
    <input type="datetime-local" id="dateTime" name="dateTime"><br/><br/>
    <!--End of DateTime-->
    <!--########################################-->
    <!--checkbox-->
    <label for="">What do you like?:&nbsp;&nbsp;</label>
    <input type="checkbox" value="music">
    <label for="">Music</label>&nbsp;&nbsp;
    <input type="checkbox"  value="movies">
    <label for="">Movies</label>&nbsp;&nbsp;
    <input type="checkbox"   value="books">
    <label for="">Books</label><br/><br/>
    <!--End of checkbox-->
    <!--########################################-->
    <!--Submit and Reset-->
    <input type="submit" value="Submit">&nbsp;&nbsp;
    <input type="reset" value="Reset">
    <!--End of Submit and Reset-->
  </form>
  </fieldset>
 </body>
</html>