<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Varribles.css" />
</head>
<body>
    <!--start with video number 5 in CSS-->
    <!--variable and Comments-->
    <!--comments-->
    <!--#################################################-->
    <!--variable-->
    <h1 class="external-css">Variables</h1>
</body>
</html>