
@{
    ViewData["Title"] = "GetTeachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
 
    <div id="teachers" class="row list-group">
        @foreach (Teacher item in Model)
        {
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading"> @item.TeacherName</h4>
                    <p class="group inner list-group-item-text">Techers</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">$@item.TeacherNumber </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            @* to make action three way @*@
                            @*1*@
                              @*   @Html.ActionLink("Details", "GetTeacherDetails", 
                                new {@class = "btn btn-success"},new {@id = item.TeacherID }) *@
                            @*2*@
                            @*   <a class="btn btn-success" href="@Url.Action("GetTeacherDetails", "Teacher",
                              new { id = item.TeacherID })">
                                Details    
                            </a>   *@
                            @*3*@
                            <a class="btn btn-success" href="/Teacher/GetTeacherDetails/@item.TeacherID">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>




