@model List<University.Models.Teacher>;
@{
    ViewData["Title"] = "GetTeachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // Layout = "~/Content/GridView.css";

}

<h1>GetTeachers:@Model.Count</h1>

