<html>
<head>
    <title>Change Background Color</title>
    <script type="text/javascript" src="/js/change_bg_color.js"></script>
</head>
<body>
    <div style="margin-left: 50px">
        <input type="button" value="red" onclick="changeBgColor('red')" />
        <input type="button" value="green" onclick="changeBgColor('green')" />
        <input type="button" value="blue" onclick="changeBgColor('blue')" />
        <input type="button" value="black" onclick="changeBgColor('black')" />
        <input type="button" value="white" onclick="changeBgColor('white')" />
        <input type="button" value="purple" onclick="changeBgColor('purple')" />
        <input type="button" value="yellow" onclick="changeBgColor('yellow')" />
    </div>

</body>
</html>