<html>
    <head>
        <script type="text/javascript" src="/js/change_image.js"></script>
    </head>
    <body>
        <h1>Change Image</h1>
        <img  src="/assets/test.jpg" id="image" onclick="ChangeImageSize()"><br/><br/>
        <input type="text" id="width" placeholder="Width"><br/>
        <input type="text" id="height" placeholder="Height"><br/>
    <input type="button" value="Change Image" onclick="ChangeImageSize()">
    </body>
</html>