<html lang="en" dir="ltr">
    <head>
        <script type="text/javascript" src="/js/change_image.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Change image size">
        <meta name="keywords" content="HTML, CSS">
        <meta name="author" content="Ankita">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/assets/test.jpg">
        <title>Change Image</title>
        <style>
.red{
    color: red;
}
#green{
    color: green;
}

        </style>
    </head>
    <body>
         <h1>Change Image</h1>
        <img  src="/assets/test.jpg" id="image" onclick="ChangeImageSize()"><br/><br/>
        <input type="text" id="width" placeholder="Width"><br/>
        <input type="text" id="height" placeholder="Height"><br/>
    <input type="button" value="Change Image" onclick="ChangeImageSize()">
    <p id="green">  lorem</p><br/>
    <p id="green">  jjjj</p><br/>
    <p class="red">  jkkkkkk</p><br/>
    <p class="red">  lorem</p>
    @*<!-- h-->
    <h1 id="h1">Hello</h1>
    <h2 id="h2">Hello</h2>
    <h3 id="h3">Hello</h3>
    <h4 id="h4">Hello</h4>
    <h5 id="h5">Hello</h5>
    <h6 id="h6">Hello</h6>
    <!-- P -->
    <p id="p">Hello</p>
    <p id="p">Hello</p>
    <!-- Span-->
    <span id="span">Hello</span>
    <span id="span">Hello</span>
    <!-- Div-->
    <div id="div">Hello</div>
    <div id="div">Hello</div>
    <!-- A-->
    <a id="a">Hello</a>
    <a id="a">Hello</a>
    <!-- I-->
    <i id="i">Hello</i>
    <i id="i">Hello</i><br/>
    h<sub id="sub">2</sub>o<br/>
    h<sup id="sup">2</sup>o<br/>

    <!-- pre-->
    <pre id="pre">
        Hello
        Fady
    </pre>
    <p>Hello
        Fady
    </p>
    <p><
        Hello<br/>
        Fady<br/>
    </p><br/>
    <!-- mark-->
    <mark>Hello Fady</mark><br/>
    <!-- em-->
    <em>Hello Fady</em><br/>
    <!-- pdi-->
    <p >Hello Fady ازيك.</p><br/>
    <!-- bdi-->
    <p>Hello Fady <bdi>ازيك.</bdi></p><br/> *@


    <!-- link-->
    @* <a href="https://www.google.com">Google</a><br/>
    <!-- target new tap-->
    <a href="https://www.google.com" target="_blank">Google</a><br/>
    <!-- target self tab-->
    <a href="https://www.google.com" target="_self">Google</a><br/>
    <hr/>
    <a href="draw_table.html">Google</a><br/>
    <a href="/assets/test.jpg" translate="no">IMG</a><br/>
    <hr/>
    <a href="/assets/test.jpg" translate="yes">IMG</a><br/>
    <hr/>
    <a href="/assets/test.jpg" translate="yes" title="Hacker">IMG</a><br/>
    <hr/>
    <a href="mailto:fedo.zaher@gmail.com" translate="yes" title="Hacker">MAIL</a><br/>
    <hr/>
    <a href="tel:+201273826361" translate="yes" title="Hacker">PHONE</a><br/>
    <hr/>
    <a href="#sec" translate="yes" title="Hacker">New Section</a><br/>
    <hr/>
    <h1 id="sec">Hello</h1>
    <hr/>
    <!-- download-->
    <a href="/assets/test.jpg" download>Download</a><br/>
    <hr/>
    <a href="/assets/CV_Fady_Zaher.pdf" download>Download</a><br/>
    <hr/>
    <a href="">home</a><br/>
    <hr/>
    <!--exit folder-->
    <a href="../wwwroot/assets/test.jpg"></a>
    <!--in floder-->
    <a href="~/assets/test.jpg"></a>
    <hr/>
 *@
   <!-- button-->
   @* <butto  n id="button" type="button">Click</button><br/>
    <hr/>
    <button id="button" type="submit">Click</button><br/>
    <hr/>
    <button id="button" type="reset">Click</button><br/>
    <hr/>
    <button disabled>Click</button><br/>
    <hr/>
    <button autofocus>Click</button><br/>
    <hr/>
    <button onclick="window.location.href='draw_table.chtml'">to draw table</button>
    <br />  *@
    
    <!-- characters-->
    @* <p>this is &copy;</p>
    <p>this is &reg;</p>
    <p>this is &trade;</p>
    <p>this is &pound;</p>
    <p>this is &cent;</p>
    <p>this is &yen;</p>
    <p>this is &euro;</p>
    <p>this is &amp;</p>
    <p>this is &lt;</p>
    <p>this is &gt;</p>
    <p>this is &quot;</p>
    <p>this is &apos;</p>
    <p>this is &nbsp;</p> *@
    
    </body>
</html>