@using (Html.BeginForm("SubmitStudent", "Student", FormMethod.Post))
{
    <label for="StudentName" >Student Name&ensp;&ensp;</label>
    <input type="text" name="StudentName" />
    <br />
    <label for="StudentNumber">Student Number</label>
    <input type="text" name="StudentNumber" />
    <button class="custom-btn btn-3" type="submit">Submit</button><br /><br />
}

