@model University.Models.Student
@{
    ViewData["Title"] = "UpdateStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SubmitStudent", "Student"))
{
    <label for="StudentName">Student Name&ensp;&ensp;</label>
    <input type="text" name="StudentName" value="@Model.StudentName"/>
    <br />
    <label for="StudentNumber">Student Number</label>
    <input type="text" name="StudentNumber" value="@Model.StudentNumber" />
    <button class="custom-btn btn-7" type="submit">Submit</button>
    <br />
    <br />
}
