@model University.Models.Room
@{
    ViewData["Title"] = "GetRoomDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="wrapper">
        <div class="product-img">
            <img src="http://bit.ly/2tMBBTd" height="420" width="327">
        </div>
        <div class="product-info">
            <div class="product-text">
                <h1>@Model.RoomName</h1><br>
                <h2>@Model.RoomLocation</h2>
            @if(Model.RoomIsAvailable==true){ 
              <p>Room is Available</p>
            } else { 
              <p>Room is not Available</p>
            }   
        </div>
        <div class="product-price-btn">
                <p><span>@Model.RoomSize</span>$</p>
                <button type="button">buy now</button>
            </div>
        </div>
    </div>
