@model University.Models.Courses
@{
    ViewData["Title"] = "GetCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetCourses:@Model.courses.Count</h1>
<div>
    @foreach (var item in Model.courses) {
        <p> @item.CourseName : @item.CourseID : @item.CourseIsAvailable</p>
        
    }
</div>

